body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  font-size: 40px;
  font-style: italic;
  color: rgb(168, 91, 18);
}

.search {
  padding: 8px;
  width: 300px;
  font-size: 20px;
  border-radius: 50px;
  outline: none;
  color: orange;
  border: 1px orange solid;
}

.recipeDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  max-width: 450px;
  float: left;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.image {
  width: 450px;
  height: 300px;
}

.info {
  float: left;
  display: grid;
  grid-template-columns: 1;
  grid-template-columns: 3fr 1fr;
  width: 100%;
}

span {
  float: left;
  margin: 10px;
}

.title {
  font-size: 33px;
  color: orange;
}

.rate {
  font-size: 25px;
  margin-top: 8px;
  color: white;
  background-color: rgb(98, 98, 219);
  border-radius: 50px 0px 0px 50px;
}

.descript {
  color: green;
  font-size: 18px;
}


.popup-page {
  background-color: rgba(0,0,0,0.4);
  margin-top: -40px;
  width: 100%;
  height: 100%; 
  position: fixed;
}

.newImage {
  width: 100px;
}

.content {
  background-color: white;
  margin-top: 100px;
  overflow: auto;
}

.left {
  width: 49%;
  float: left;
  background-color: white;
}

.right {
  width: 49%;
  float: left;
  background-color: white;
}

.newImage {
  width: 400px;
  height: 200px;;
}

.newDet {
  font-size: 18px;
}